{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    Cereal List
{% endblock title %}

{% block body-class %}left-sidebar{% endblock body-class %}


{% block body-main %}
    <article id="main">
        <header class="special container">
            <span class="icon fa-laptop" id='search'></span>
            <h2>Behold the <strong>Cereals</strong></h2>
            <p>Displaying all your favorite cereals... and some you've never heard of before!</p>
        </header>



    <!-- One -->
        <section class="wrapper style4 container">

            <div class="row 150%">
                
                <div class="3u 12u(narrower) important(narrower)" style=" text-align: center;">
                        
                            <!-- Content -->
                                <div class="sidebar"  >
                                    <section>
                                        <header>
                                            <p> {% if request.user.is_authenticated %}{% else %}Please <a href="/login/" style="color: teal; font-weight: bold;">log in</a> to edit the cereal files!{% endif %}</p>
                                        </header>

                                        
                                        <form action="{% url 'cereal_list' %}#search" method="GET">
                                                {{ form.as_p }}
                                                <input type="submit" value="Search!" class="button small">  
                                        </form>
                                        <br>
                                        {% if request.user.is_authenticated %}
                                            <a href="/create_cereal/">Create a new cereal!</a>
                                        {% endif %}
                                    </section>
                    </div>

                </div>
                {% for cereal in cereals %}
                    <div class="4u 12u(narrower)">
                        <div class="content">
                            <section>
                                <header>
                                    <h3><strong>{{cereal}}</strong></h3>
                                </header>
                                <p>Created by <a href="{% url 'manufacturer_detail' cereal.manufacturer.pk %}">{{cereal.manufacturer}}</a>. And only contains {{cereal.calories}} calories.</p>
                                <footer>
                                    <ul class="buttons">
                                        <li><a href="{% url 'cereal_detail' cereal.pk %}" class="button small">Learn More</a></li>
                                    </ul>
                                </footer>
                            </section>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

    </article>
{% endblock body-main %}
