{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}
{% block title %}
    Create a Manufacturer
{% endblock title %}


{% block body-class %}no-sidebar{% endblock body-class %}


{% block body-main %}
    <article id="main">
        <header class="special container">
                <h2>Create a <strong>new manufacturer</strong>!</h2>
            <p>Enter the details below.</p>
        </header>
        <section class="wrapper style4 container" >

            <div class="row 150%">
                <div class="12u important(narrower)">
                    <section>
                            {% crispy form %} * = Required field
                        <br>
                            <a href="{% url 'manufacturer_list' %}">Back to list</a>
                    </section>
                </div>
            </div>
        </section>
    </article>
{% endblock body-main %}

{% if manufacturer == None %}
    <h1></h1>
{% else %}
    <h1>Update {{manufacturer}}!</h1>
{% endif %}

<form action="{% url 'create_manufacturer' %}" method="POST">
    {% csrf_token %}
    Manufacturer name:
    <input type="text" name='name' id='name' value='{{manufacturer.name}}'><br>
    Cereals:<br>
    {% for cereal in manufacturer.cereal_set.all %}
         <input type="checkbox" name='cereals' value='{{cereal.pk}}' checked>{{cereal}}
        <br>
    {% endfor %}
    {% for cereal in cereals %}
        <input type="checkbox" name='cereals' value='{{cereal.pk}}'>{{cereal}}
        <br>
    {% endfor %}


    <input type="submit" value="Save!">
</form>


{% if manufacturer == None %}
    <a href="{% url 'manufacturer_list' %}">Back to the manufacturer list</a>
{% else %}
    <a href="{% url 'manufacturer_detail' manufacturer.pk %}">Back to {{manufacturer}} details</a>
{% endif %}