{% extends "base.html" %}

{% block title %}
    Sign up
{% endblock title %}

{% block body-main %}
        <header class="special container">
            <span class="icon fa-inbox"></span>
            <h2>Please <strong>Sign Up</strong></h2>
            <p>...if you know how, anyways...</p>
        </header>
    <section class="wrapper style4 container">

            <div class="row">
                <div class="12u 12u(narrower) important(narrower)">
                    <form action="/signup/" method="POST">
                        {% csrf_token %}

                        {{ form.as_p }}

                        <input type="submit" value="Sign Up!">  
                    </form>
                    <br>
                    <a href="/login/">Back to login page</a>
                    </br>
                </div>
            </div>
        </section>
{% endblock %}